table {
  width: 100%;
}

.home-message {
  display: flex;
  align-items: stretch;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  background-color: #015289;
  color: white;

}

.tms-data-table{
  flex: 1;
}


.comment-filter-checkboxes {
  padding: 2% 0px 1% 0px;
}
